{% extends 'base.html' %}
{% load static %}

{% block content %}
    
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row gy-4 d-flex justify-content-between">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h2 data-aos="fade-up">Optimización del transporte multimodal</h2>
          <p data-aos="fade-up" data-aos-delay="100">Un proyecto sobre el uso de programación matemática para resolver la minimización de costos de transporte multimodal en la entrega de mercancías y la gestión de la cadena de suministro.</p>

          <form action="#" class="form-search d-flex align-items-stretch mb-3" data-aos="fade-up" data-aos-delay="200">
            <input type="text" class="form-control" placeholder="Provincia">
            <button type="submit" class="btn btn-primary">Buscar</button>
          </form>

          <div class="row gy-4" data-aos="fade-up" data-aos-delay="400">

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="{{ users_count }}" data-purecounter-duration="1" class="purecounter"></span>
                <p>Clientes</p>
              </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="{{ routes_count }}" data-purecounter-duration="1" class="purecounter"></span>
                <p>Rutas</p>
              </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="{{ orders_count }}" data-purecounter-duration="1" class="purecounter"></span>
                <p>Órdenes procesadas</p>
              </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="{{ processed_orders_count }}" data-purecounter-duration="1" class="purecounter"></span>
                <p>Órdenes solucionadas</p>
              </div>
            </div><!-- End Stats Item -->

          </div>
        </div>

        <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
          <img src="{% static 'img/hero-img.svg' %}" class="img-fluid mb-3 mb-lg-0" alt="">
        </div>

      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">
    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container">
    
        <div class="row gy-4">
    
          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up">
            <div class="icon flex-shrink-0"><i class="fa-solid fa-cart-flatbed"></i></div>
            <div>
              <h4 class="title">Análisis de Transporte</h4>
              <p class="description">Evaluamos tus necesidades de transporte y proponemos soluciones eficientes para maximizar la productividad y reducir costos.</p>
            
            </div>
          </div>
          <!-- End Service Item -->
    
          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="icon flex-shrink-0"><i class="fa-solid fa-truck"></i></div>
            <div>
              <h4 class="title">Optimización de Rutas</h4>
              <p class="description">Utilizamos tecnología avanzada para diseñar rutas optimizadas que garantizan entregas más rápidas y eficientes.</p>
             
            </div>
          </div><!-- End Service Item -->
    
          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="icon flex-shrink-0"><i class="fa-solid fa-truck-ramp-box"></i></div>
            <div>
              <h4 class="title">Integración de Sistemas</h4>
              <p class="description">Integramos nuestras soluciones con tus sistemas existentes para una gestión de transporte más fluida y automatizada.</p>
     
            </div>
          </div><!-- End Service Item -->
    
        </div>
    
      </div>
    </section><!-- End Featured Services Section -->
    
    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action" class="call-to-action">
      <div class="container" data-aos="zoom-out">

        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            <h3>Uno de los objetivos del transporte es satisfacer dentro de las posibilidades la demanda en armonía con el medio ambiente, un transporte más ecológico evaluando oportunidades e implementando programas de transporte sostenible puede ayudar a cumplir con eficiencia el transporte y sus objetivos de reducción de costos .</h3>
            <p> </p>
          </div>
        </div>

      </div>
    </section><!-- End Call To Action Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        
  
        <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src={% static "img/features-4.jpg"%} class="img-fluid" alt="">
          </div>
          <div class="col-md-7 order-2 order-md-1">
            <h3>Transportacion Multimodal</h3>
            <p class="fst-italic"> 
              El transporte multimodal consiste en combinar diferentes medios como marítimo, terrestre y aéreo para mover cargas de un lugar a otro de forma más rápida y eficiente a través del trasbordo entre ellos.

            </p>
           
          </div>
        </div><!-- Features Item -->

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="slides-1 swiper" data-aos="fade-up">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src={% static "img/testimonials/testimonials-1.jpg"%} class="testimonial-img" alt="">
                <h3>Ing. Vladmir Milián Núñez</h3>
                <h4>Tutor</h4>
                
               
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src={% static "img/testimonials/testimonials-2.jpg"%} class="testimonial-img" alt="">
                <h3>Melisa Sao Rodríguez
                </h3>
                <h4>Autora</h4>
                
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src={% static "img/testimonials/testimonials-3.jpg"%} class="testimonial-img" alt="">
                <h3>Dr.C. Héctor Raúl Gonzáles Diez</h3>
                <h4>Tutor</h4>
               
              </div>
            </div><!-- End testimonial item -->

            

            
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->
{% endblock content %}

